.profile-button{
  font-size: 30px;
  background-color: #ffffff;
  color: #3aa7ff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
.profile-button:hover {
    background-color: #3aa7ff;
}


body{
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
}

header{
  color: #3aa7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #1e1e1e; 
  border-radius: 8px;
  margin: 20px auto;
  margin-bottom: 50px;
  max-width: 1600px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 40px;
  opacity: 0.7;
  transition: opacity 0.3s, color 0.3s;
}
nav ul li a:hover{
  opacity: 1;
  color: #3aa7ff;
}

.home {
  max-width: 50%;
  margin-bottom: 500px;
  margin-left: 30px;
}
.home h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0 0 20px 0;
  text-transform: none;
  margin-bottom: 50px;
}
.home p1 {
  font-size: 50px;
  font-weight: 700;
  color: #3aa7ff;
  margin-bottom: 5px;
}

.home h2 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 5px;
}

.description {
   font-size: 30px;
   line-height: 1.6;
   margin-bottom: 40px;
   opacity: 0.8;
}

.hero-image {
    position: absolute;
    right: 10%;
    top: 15%;
    height: 81%;
    width: 25.5%;
    border: 5px solid #3aa7ff;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.hero-image:hover {
      transform: scale(1.1);      
      border-color: #3aa7ff;
}

/* Choose Us Section */


.choose-us {
    display: flex;
    gap: 50px;
}

.hours-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.hours-hero:hover {
      transform: scale(1.1);      
      border-color: #3aa7ff;
}

.hero-img {
    margin-right: 70px;
    width: 60%;
    height: 500px;
    background: #333 url('https://th.bing.com/th/id/R.f695bb8656084af2dfe14dda6fedbeb2?rik=F9bdqSr7mewEOw&pid=ImgRaw&r=0') center/cover;
    border-radius: 5px;
    border: #3aa7ff 5px solid;
}


.opening-hours{
    margin-right: 70px;
    margin-top: -80px;
    background: #3aa7ff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 60%;
}



.why-us h2 {
    font-size: 48px;
    font-weight: 900;
}

.why-us p {
    width: 60%;
    font-size: 25px;
    opacity: 0.8;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
}

.feature p {
    border: #ffffff 5px solid;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.feature p:hover {
      transform: scale(1.1);      
      border-color: #3aa7ff;
      background-color: #3aa7ff;
}


.program {
    text-align: center;
    padding: 80px 0;
}

.program p {
    font-size: 30px;
    color:#3aa7ff
}

.program h2 {
    font-size: 60px;
    font-weight: 900;
}